.DS_Store
node_modules/
config.json
*.pdf
# Allow sample PDFs
!css-test-document-*.pdf
*.otf
*.ttf

# Generated wrapper scripts (created by install.sh, not committed)
/alumni-chapel.sh
/minion-noir.sh
/obsidian-alumni-chapel.sh
/obsidian-minion-noir.sh
